@import "components/colors";
@import "components/include-media";
@import "components/bloc";

.building {
    @extend .bloc-image-sm;
    @extend .bloc-bottom-right;
    @include media("<phone", "<tablet") {min-width: 40vmin; bottom:20%;}
    @include media(">tablet", "<desktop") {min-width: 40vmin; z-index: 3;}
    @include media(">desktop") {min-width: 70vmin;}    
}

.wardrobe {
    @extend .bloc-image-sm;
    @extend .bloc-top-left;
    @include media("<phone", "<tablet") {min-width: 40vmin; top:20%;}
    @include media(">tablet", "<desktop") {min-width: 40vmin; z-index: 3;}
    @include media(">desktop") {min-width: 70vmin; z-index: 0;}    
}

.apparel {
    @extend .bloc-image-sm;
    @extend .bloc-top-right;
    @include media("<phone", "<tablet") {min-width: 40vmin; bottom:20%;}
    @include media(">tablet", "<desktop") {min-width: 40vmin; z-index: 3;}
    @include media(">desktop") {min-width: 70vmin;}    
}