@import "components/colors";

.parent {
    width: 100%;
    height: 100vh;
    background: linear-gradient($ternary-color 0%, #ffffff 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    align-self: center;
    max-width: 70vmin;
}

.text {
    text-align: center;
    color: $secondary-color;
}