@import "components/colors";
@import "components/include-media";
@import "components/bloc";

.hat {
    @extend .bloc-image-sm;
    @extend .bloc-top-left;
}

.bug {
    @include media("<phone") {
        left: 5%;
        top:  20%;
    }    
}

.person {
    @extend .bloc-image-md;
    @extend .bloc-bottom;
    @include media("<phone") {bottom: 25%;}    
    @include media(">tablet", "<desktop") {bottom: 15%;}
}